body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: right;
    display: block;
    
}

.popup {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
    z-index: 1000; 
}

.popup h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #0d484c;
}

.popup p {
    font-size: 1.2rem;
    color: #555;
}

.close-btn {
    background-color: #0d484c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.5s ;
    margin-top: 20px;
}
header {
    background-color: #0d484c;
    color: white;
    padding: auto;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height:50px ;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    
}

.cta-button {
    background-color: #FFD700;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero {
    background-image:url(7.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color:rgb(255, 255, 255);
    padding: 200px 20px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.801);
    width: auto;
    height: auto;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}


.about {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: #0d484c;
    color: white;
    padding: 20px;
    text-align: center;
}



footer .social-media {
    margin-top: 20px;
}

footer .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

@font-face {
    font-family: 'IBM Plex Sans Arabic';
    src: url('fonts/IBMPlexSansArabic-Regular.woff2') format('woff2'),
         url('fonts/IBMPlexSansArabic-Regular.woff') format('woff'),
         url('fonts/IBMPlexSansArabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans Arabic';
    src: url('fonts/IBMPlexSansArabic-Bold.woff2') format('woff2'),
         url('fonts/IBMPlexSansArabic-Bold.woff') format('woff'),
         url('fonts/IBMPlexSansArabic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.social-media {
    gap: 15px; 
    
}

.social-media a {
    color: #333; 
    font-size: 24px; 
    transition: color 0.3s ease; 
}

.social-media a:hover {
    color: #c7b299; 
}

.option{
    color: #333; 
    transition: color 0.3s ease; 
}

.option a:hover {
    color: #c7b299; 
}


.close-btn:hover {
    background-color: #c7b299;
    font-size: 1.1rem;

}

.video-wrapper {
    position: relative;
    width: 60%; 
    margin: 0 auto; 
    padding-bottom: 33.75%; 
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.container p{
    text-align: center;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.logo {
    animation: fadeIn 0.9s ease-in-out;
    margin-bottom: -4px;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 95px;
    right: 20px;
    z-index: 1000;
    background-color: #04606d;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition:  0.5s ; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 90%;
}
#scrollToTop:hover{
    background-color: #c7b299;
}
